body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: black;
    color:#e06635;
    padding: 20px;
    background-image:url("https://www.nyckel.com/assets/images/functions/bookstore-brands.webp");
}

h1 { 
    text-align: center;
    color:#c8c8db;
    border: 3px solid red;
    padding: 20px 20px;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}
