body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: black;
    padding: 20px;
    background-image:url("https://www.nyckel.com/assets/images/functions/bookstore-brands.webp");
}

h1 { 
    text-align: center;
    color:#dbcfcf;
    border: 3px solid red;
    padding: 20px 20px;
    margin-top: 70px;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    color: rgb(235, 233, 209);
    font-weight: bold;
}
/*BOOKS*/

#library {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-top: 20px;
}
.book {
    color: #FF5722;
    background:#303841;
    border: 2px solid #521405;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 4px 4px 0 #e7e4e0;
}

/*Buttons*/

 button {
    margin: 6px 6px 0 0;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    font-family: Georgia, serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background:linear-gradient(to bottom, #d9c7a3, #b89a6a);
    color: #2b1b10;
    border-radius: 0;
    box-shadow: 2px 2px 0 #3b2a1a,
    6px 6px  0 #1a0f08;
    transition: all 0.15s ease;
}
button:hover{
    transform: translate(2px, 2px);
   box-shadow: 2px 2px 0 #3b2a1a,
    6px 6px  0 #1a0f08;
}

.borrow{ background: #8e95ce; }
.return { background: #8468b0; }
.toggle{ background:#12a3e6 ;}

/* archive pannel*/

#archive{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    margin-left: 350px;
    padding: 15px;
    max-width: 50%;
    border: 2px solid #16100b;
    background: #e9e6e1;
    box-shadow: 6px 6px 0 #5a3b1e;
    border-radius: 10px;
}

#archive h3 {
    margin-top: 0;
}
#archiveLog{
    font-family: monospace;
    white-space: pre-line;
    max-height: 150px;
    overflow-y: auto ;
}

/*POP UP*/
.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    background: #fff8e7;
    border: 3px solid #5a3b1e;
    box-shadow: 10px 10px 0 #5a3b1e;
    padding: 20px 25px;
    border-radius: 12px;

    opacity: 0;
    pointer-events: none;
    transition: all 1s ease;
    min-width: 220px;
    text-align: center;
}

.toast.show{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}
@keyframes waveMotion{
    0% {transform: translateY(0px)}
    50% {transform: translateY(-4px)}
    100% {transform: translateY(0px)}
    
}
button{
    animation: waveMotion 3s ease-in-out infinite;
}